{% extends "layouts/base.html" %}

{% block stylesheets %}

<style>
    table,
    th,
    td {
        border: 1px solid green;
        border-collapse: collapse;
    }
</style>

{% endblock stylesheets %}

{% block content %}
{% load static %}
<main>
    <section class="image-display">
        <img src="{% static 'prog.jpg' %}" alt="Programming Concept">

    </section>
    <section class="content">
        <h2>Welcome to Your Programming Journey!</h2>
        <p>Explore various programming languages, understand coding concepts, and start building your own projects!</p>
    </section>
</main>

{% endblock content %}