{% extends "layouts/base.html" %}

{% block content %}
<h1>Programming Languages</h1>

<div class="form-section">
    <form method="get" action="{% url 'filter_language' %}">
        <label for="search_name">Search by Name:</label>
        <input type="text" id="search_name" name="search_name">

        <label for=" paradigm">Select Paradigm:</label>
        <select id="paradigm" name="paradigm">
            <option value="">--Any--</option>
            <option value="Object-oriented">
                Object-oriented</option>
            <option value="Functional">Functional</option>
            <option value="Event-driven">Event-driven
            </option>
        </select>

        <input type="submit" value="Search">
    </form>
</div>

<ul class="languages-list">

    {% for language in languages %}
    <li>
        <h2 class="language-name">{{ language.name }}</h2>
        <div class="language-details">
            <p>Creator: {{ language.creator }}</p>
            <p>Released in: {{ language.release_year }}</p>
            <p>Paradigm: {{ language.paradigm }}</p>
            <p>Typical Use: {{ language.typical_use }}</p>
            <a href="language/{{ language.id }}">Learn More</a>
        </div>
    </li>
    {% empty %}
    <p>No languages available.</p>
    {% endfor %}
</ul>
{% endblock content %}